{% extends 'base.html.twig' %}
{% block body %}
    <h1>Recipe</h1>
    {{ form_start(form) }}
    <table class='table'>
        <tbody>
            <tr>
                <th>Ingredients</th>
                <td>{{ form_widget(form.ingredients) }}</td>
            </tr>
            <tr>
                <th>Preperation</th>
                <td>{{ form_widget(form.preperation) }}</td>
            </tr>
            <tr>
                <th>Time</th>
                <td>{{ form_widget(form.time) }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ form_widget(form.category) }}</td>
            </tr>
            <tr>
                <th></th>
                <td>{{ form_widget(form.save) }}</td>
            </tr>
        </tbody>
    </table>
    {{ form_end(form) }}
{% endblock %}
